<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../partials/head %>
    <title>Document</title>
</head>
<body>
    <% include ./../partials/header %>
    <main>
        this is the index

        <p>This is the message: <%=message %></p>
    </main>
</body>
</html>